@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO</h1>
    <h9 class="display-5">UNIVERSITY MANAGEMENT APPLICATION</h9>
    <p>This is an web application for managing a university built with ASP.NET Core</a>.</p>
</div>
