@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME to UNIVERSITY MANAGEMENT WEB APP</h1>
    <p>This is an web application for managing a university built with ASP.NET Core</a>.</p>
</div>
